.main{
  height: 93%;
  overflow: auto;
}

.main::-webkit-scrollbar{
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  min-width: 200px;
}



.card-image {
  display: block;
  min-height: 20rem;
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(0.5px);
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0;
}

.card-image.is-loaded {
  filter: none;
  transition: filter 1s;
}


.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  border: 0.5px solid #ccc;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

.event-description{
  margin-bottom: 10% !important;
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}
