html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

hr{
  border: 0.5px solid #ccc;
}

.img-div {
  overflow: hidden;
}

.btn {
  cursor: pointer;

  width: 100%;
  border: none;
  padding: 8px 16px;

  font-size: 20px;
  color: black;

  background-color: #EFEFEF;

  transition: all 0.5s;
}

.btn:hover {
  background-color: darkgrey;
}


.container{
  margin: 0 auto;
  width: 1320px;
}

@media screen and (max-width: 1400px){
  .container{
    width: 1140px;
  }
}

@media screen and (max-width: 1200px){
  .container{
    width: 960px;
  }
}

@media screen and (max-width: 992px){
  .container{
    width: 720px;
  }
}

@media screen and (max-width: 768px){
  .container{
    width: 540px;
  }
}

@media screen and (max-width: 576px){
  .container{
    width: 98%;
    padding: 1%;
  }
}

